[flake8]
# A:   builtins (variables named after builtin names)
# B:   bug-bear (additional bad code checks)
# B9:  bug-bear opinionated (additional, additional bad code checks)
# BLK: black (code formatting)
# C:   mccabe (code complexity)
# E:   pycodestyle errors (PEP8 checks)
# F:   pyflakes (invalid/bad code checks)
# FS:  use-fstring (f-strings used for text interpolation)
# I:   import order (python import ordering)
# S:   bandit (static security checks)
# W:   pycodestyle warnings (PEP8 checks)
select = A,B,B9,BLK,C,E,F,FS,I,S,W

# E203: for Black compatibility (whitespace before ‘:')
# E501: for bug-bear compatibility (as B905 overrides line length checks)
# S320: for using fromstring to process XML (see 'lxml package (bandit)' section in README for details)
# S410: for using Element to process XML (see 'lxml package (bandit)' section in README for details)
# W503: for Black compatibility (line break before binary operator)
ignore = E203,E501,S320,S410,W503

# general
max-line-length = 120

# for mccabe
max-complexity = 10

# for flake8-import-order
application-import-names = flask_azure_oauth,tests
import-order-style = smarkets
